/*=========================================================
#     FileName: style.css
#         Desc: Reference to Wangheng's https://wangheng.org/html/
#       Author: eippay
#        Email: eippay@163.org
#     HomePage: http://firstoy.cc
#      Version: 0.0.1
#   LastChange: 2018-05-08 
=========================================================*/


html {height: 100%;overflow-y:scroll;}
body {font-family:"Arial", "DejaVu Sans", "Bitstream Vera Sans", "Lucida Sans", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; text-shadow: 1px 1px #fcfbf7; font-size: 10.5pt; color:#555; line-height:1.1;background:#1a1a1a;padding:4% 6% 1% 6%; height:80%; margin: 0;}
#header {
    font-size: 18pt;
    color: Crimson;
    text-align:center;
    font-weight: bold;
    padding-top: 22px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.head-left{
    width:125px;
    float:left;
    color: white;
}
.head-right{
    width:125px;
    float:right;
    padding-right: 4px;
}
#search {
    float:left;
    width: 125px;
}
.search-li{
    float: left;
    width: 12em;
    margin: 0 1.5em;
}
#search-btn {
    margin-top: 2px;
    margin-left: -21px;
    cursor:pointer;
    position:absolute;
    float: right;
    z-index: 1;
    cursor:pointer;
}
#body {
 background:white; padding:2% 6% 2% 6%; border-radius:8px; min-height:100%;
}
#index{
    float:right;
}
#volid-cover {
    width: 100%;
    height: 60px;
}
#footer {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: -60px;
    height: 105px;
}
#navigation{
    text-align: left;
    height: 55px;
    width: 100%;
}
#footer-last {
    text-align: center;
    text-shadow: none;
    font-size: small;
    height: 35px;
    padding-top: 8px;

}
h1, h2, h3, h4, h5, h6 {
 font-weight: bold; line-height:100%; margin-top: 1.5em; margin-bottom: 0.5em;}
h1 {
    margin-top: 20pt;
    margin-bottom: 20pt;
    padding-left: 8pt;
    padding-right: 16pt;
    font-size: 16pt;
    border-left: 8px solid #4CBCE7;
    border-bottom: 2px solid #4cbce7;
    color: Goldenrod;
}
h2 {
    margin-top: 20pt;
    margin-bottom: 15pt;
    padding-left: 8pt;
    padding-right: 12pt;
    font-size: 14pt;
    border-left: 4px solid #4cbce7;
    border-bottom: 1px solid #4cbce7;
    color: SlateBlue;
}
h3 {
    margin-top: 16pt;
    margin-bottom: 12pt;
    padding-left: 8pt;
    padding-right: 10pt;
    font-size: 13.5pt;
    border-left: 2px solid #4cbce7;
    border-bottom: 1px dashed #4cbce7;
    color: Purple;
}
h4 {
    margin-top: 10pt;
    margin-bottom: 10pt;
    font-size: 12pt;
    padding-left: 10pt;
    padding-right: 10pt;
    color: LimeGreen;
}
h5 {
    margin-top: 10pt;
    margin-bottom: 5pt;
    font-size: 11pt;
    padding-left: 10pt;
    padding-right: 10pt;
}
h6 {
    margin-top: 5pt;
    font-size: 10.5pt;
    padding-left: 10pt;
    padding-right: 10pt;
}
p, pre, blockquote, table, ul, ol, dl {margin-top: 1em; margin-bottom: 1em;}
ul ul, ul ol, ol ol, ol ul {margin-top: 0.5em; margin-bottom: 0.5em;}

a {color:#07b; text-decoration:none;}
a:hover {text-decoration: underline;}
img {border:none; background-color: #1a1a1a;}
a img:hover {background:none; border:none;}

li {margin: 0.3em auto;}
ul {margin-left: 2em; padding-left: 0.5em;}
img {border: none;}
/*pre {border-left: 1px solid #ccc; margin-left: 2em; padding-left: 0.5em;}*/
pre { font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
border-radius:3px;
text-shadow:1px 1px #fff;
font-weight: bold;
border: 1px solid #aaa;;
text-align: left;
/*width: fit-content;
min-width: 60%;*/
}
code {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
   /* 
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0px 3px;
    margin: 0 5px;
    color: #52595d;
    border: 1px solid #ccc;
    */
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    background-color: #E7E6E3;
    color: purple;
    font-weight: bold;
    white-space:nowrap;
}


 

blockquote {padding: 0.4em; background-color: #f6f5eb;}

table{border-collapse:collapse;min-width:60%}
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0;}
hr {border: none; border-top: 1px solid #4cbce7; width: 100%; }

img { background-color: #fff;
    text-align: center;

}

del {text-decoration: line-through; color: #777777;}
.toc li {list-style-type: none;}
.todo {font-weight: bold; background-color: #f0ece8; color: #a03020;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}
.nowrap { white-space:nowrap;}
.center {margin-left: auto; margin-right: auto;}
.tag {background-color: #eeeeee; font-family: monospace; padding: 2px;}

/* classes for items of todo lists */
.rejected {
    /* list-style: none; */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAACXBIWXMAAADFAAAAxQEdzbqoAAAAB3RJTUUH4QgEFhAtuWgv9wAAAPZQTFRFmpqam5iYnJaWnJeXnpSUn5OTopCQpoqKpouLp4iIqIiIrYCAt3V1vW1tv2xsmZmZmpeXnpKS/x4e/x8f/yAg/yIi/yQk/yUl/yYm/ygo/ykp/yws/zAw/zIy/zMz/zQ0/zU1/zY2/zw8/0BA/0ZG/0pK/1FR/1JS/1NT/1RU/1VV/1ZW/1dX/1pa/15e/19f/2Zm/2lp/21t/25u/3R0/3p6/4CA/4GB/4SE/4iI/46O/4+P/52d/6am/6ur/66u/7Oz/7S0/7e3/87O/9fX/9zc/93d/+Dg/+vr/+3t/+/v//Dw//Ly//X1//f3//n5//z8////gzaKowAAAA90Uk5T/Pz8/Pz8/Pz8/Pz8/f39ppQKWQAAAAFiS0dEEnu8bAAAAACuSURBVAhbPY9ZF4FQFEZPSKbIMmWep4gMGTKLkIv6/3/GPbfF97b3w17rA0kQOPgvAeHW6uJ6+5h7HqLdwowgOzejXRXBdx6UdSru216xuOMBHHNU0clTzeSUA6EhF8V8kqroluMiU6HKcuf4phGPr1o2q9kYZWwNq1qfRRmTaXpqsyjj17KkWCxKBUBgXWueHIyiAIg18gsse4KHkLF5IKIY10WQgv7fOy4ST34BRiopZ8WLNrgAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: 0 .2em;
    padding-left: 1.5em;
}
.done0 {
    /* list-style: none; */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAxQAAAMUBHc26qAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAA7SURBVCiR7dMxEgAgCANBI3yVRzF5KxNbW6wsuH7LQ2YKQK1mkswBVERYF5Os3UV3gwd/jF2SkXy66gAZkxS6BniubAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: 0 .2em;
    padding-left: 1.5em;
}
.done1 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAxQAAAMUBHc26qAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABtSURBVCiR1ZO7DYAwDER9BDmTeZQMFXmUbGYpOjrEryA0wOvO8itOslFrJYAug5BMM4BeSkmjsrv3aVTa8p48Xw1JSkSsWVUFwD05IqS1tmYzk5zzae9jnVVVzGyXb8sALjse+euRkEzu/uirFomVIdDGOLjuAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: 0 .15em;
    padding-left: 1.5em;
}
.done2 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAxQAAAMUBHc26qAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAB1SURBVCiRzdO5DcAgDAVQGxjAYgTvxlDIu1FTIRYAp8qlFISkSH7l5kk+ZIwxKiI2mIyqWoeILYRgZ7GINDOLjnmF3VqklKCUMgTee2DmM661Qs55iI3Zm/1u5h9sm4ig9z4ERHTFzLyd4G4+nFlVrYg8+qoF/c0kdpeMsmcAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: 0 .15em;
    padding-left: 1.5em;
}
.done3 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAxQAAAMUBHc26qAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABoSURBVCiR7dOxDcAgDATA/0DtUdiKoZC3YhLkHjkVKF3idJHiztKfvrHZWnOSE8Fx95RJzlprimJVnXktvXeY2S0SEZRSAAAbmxnGGKH2I5T+8VfxPhIReQSuuY3XyYWa3T2p6quvOgGrvSFGlewuUAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: 0 .15em;
    padding-left: 1.5em;
}
.done4 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAYAAAAbBi9cAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAzgAAAM4BlP6ToAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIISURBVDiNnZQ9SFtRFMd/773kpTaGJoQk1im4VDpWQcTNODhkFBcVTCNCF0NWyeDiIIiCm82QoIMIUkHUxcFBg1SEQoZszSat6cdTn1qNue92CMbEr9Sey+XC/Z/zu+f8h6ukUil3sVg0+M+4cFxk42/jH2wAqqqKSCSiPQdwcHHAnDHH9s/tN1h8V28ETdP+eU8fT9Nt62ancYdIPvJNtsu87bmjrJlrTDVM4RROJs1JrHPrD4Bar7A6cpc54iKOaTdJXCUI2UMVrQZ0Js7YPN18ECKkYNQcJe/OE/4dZsw7VqNXQMvHy3QZXQypQ6ycrtwDjf8aJ+PNEDSCzLpn7+m2pD8ZKHlKarYhy6XjEoCYGcN95qansQeA3fNdki+SaJZGTMQIOoL3W/Z89rxv+tokubNajlvk/vm+LFpF2XnUKZHI0I+QrI7Dw0OZTqdzUkpsM7mZTyfy5OPGyw1tK7AFSvmB/Ks8w8YwbUYbe6/3QEKv0vugfxWPnMLJun+d/kI/WLdizpNjMbAIKrhMF4OuwadBALqqs+RfInwUvuNi+fBd+wjogfogAFVRmffO02q01mZZ0HHdgXIzdz0QQLPezIQygX6llxNKKgOFARYCC49CqhoHIUTlss/Vx2phlYwjw8j1CAlfAiwQiJpiy7o1VHnsG5FISkoJu7Q/2YmmaV+i0ei7v38L2CBguSi5AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: 0 .15em;
    padding-left: 1.5em;
}


